page-end-bus-halt {
  ion-content .scroll-content {
    overflow-y: hidden;
  }
  .scroll-content {
    overflow: hidden;
  }
  .route-no {
    font-size: 120%;
    font-style: normal;
    border: 1px solid #488aff;
    border-radius: 4px;
    padding: 10px;
  }
  .route-no-no {
    font-size: 100%;
    font-style: normal;
  }
  .heading {
    font-size: 120%;
    font-style: normal;

  }
  .toolbar-background {
    background-color: #222831;
  }
  .main-content {
    background-color: #222831;
  }
}
