page-new-journey {
  .main-content{
    background-color: #222831;
  }
  .datetime-md .datetime-placeholder {
    color: white;
  }
  input {
    text-align: right;
  }
  ion-content .scroll-content {
    overflow-y: hidden;
  }
  .scroll-content {
    overflow: hidden;
  }
}
