<!--
  Generated template for the NewBusHaltPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-title><span style="color: white">නව බස් නැවතුම</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="main-content">
  <!--<ion-list>
    <ion-item-sliding *ngFor="let journey of journies; let i=index">
      <ion-item nopadding>
        <p>
          {{journey.journeyId}}
          <span>{{journey.date}}</span><br>
          Route No: {{journey.routeNo}}<br>
          {{journey.routeName}}
        </p>
        <h3 item-end>
          Heading: {{journey.heading}}
          Sync Status : {{ ((journey.synced == 1)? 'Synced': 'Not Synced')}}
        </h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>-->

  <ion-row justify-content-center align-items-center style="height: 20%">
    <br><br><br><br>
   <!-- <div>
      {{journey | json }}
    </div>-->
    <button class="button button-dark customBtnGPS" ion-button large color="secondary" (click)="getGoeLocation()"><b style="color: white">GPS ඛණ්ඩාංක ගන්න</b></button>
    <!--<div *ngIf="location">
      <h2>Your location is:</h2>
      <p>Lon: {{ location.longitude }}</p>
      <p>Lat: {{ location.latitude }}</p>
    </div>-->
   <!-- <div>
      {{busStopData | json }}
    </div>-->
  </ion-row>

  <ion-row justify-content-end align-items-end style="height: 80%">
    <button  class="button button-dark customBtnEnd" (click)="syncNow()" ion-button round><b style="color: #222831">ගමන අවසන් කරන්න</b></button>
  </ion-row>


</ion-content>

