page-home {
  .scroll-content {
    overflow: hidden;
  }
  form{
    width: 100% !important;
  }
  .main-content{
    background-color: #222831;

  }
  .input-class{
    background-color: #222831;
  }
  .toolbar-background {
    background-color: #222831;
  }

}

