page-get-down {
  .toolbar-background {
    background-color: #222831;
  }
  .main-content{
    background-color: #222831;

  }
  .age-group-content {

  }
  .age-group-images {
    border-radius: 10px;
    width: 70%;
    height: 70%;
  }
  .count-text {
    border-radius: 5px;
    background-color: #393E46;
    font-size: 130%;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-style: normal;
    color: white;
  }
  .total-count {
    font-size: 100%;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-style: normal;
  }
  ion-content .scroll-content {
    overflow-y: hidden;
  }
  .scroll-content {
    overflow: hidden;
  }
}
