page-get-down {

  .age-group-content {

  }
  .age-group-images {
    border-radius: 10px;
    width: 70%;
    height: 70%;
  }
  .count-text {
    border-radius: 5px;
    background-color: #E0E0E0;
    font-size: 130%;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-style: normal;
  }
  .total-count {
    font-size: 100%;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-style: normal;
  }
  ion-content .scroll-content {
    overflow-y: hidden;
  }
  .scroll-content {
    overflow: hidden;
  }
}
